Source: orocos-ocl
Priority: extra
Maintainer: Peter Soetens <peter.soetens@fmtc.be>
Build-Depends: debhelper (>= 5), autotools-dev, liborocos-rtt-corba-lxrt-dev ( >= 1.4 ), libcomedi-dev, libpcan-dev, liborocos-rtt-corba-gnulinux-dev ( >= 1.4 ), pkg-config, libncurses5-dev ( >= 5.0 ), libreadline5-dev ( >= 5.0 ), comedi-modules
Standards-Version: 3.7.2
Section: libs

Package: orocos-ocl-lxrt-bin
Section: libdevel
Architecture: any
Depends: liborocos-ocl-lxrt1.4 (= ${Source-Version})
Description: Orocos Component Library  - Binaries
 This package contains the ctaskbrowser, cdeployer and deployer applications.

Package: orocos-ocl-lxrt-dev
Section: libdevel
Architecture: any
Depends: liborocos-ocl-lxrt-dev,
      liborocos-ocl-io-lxrt-dev, liborocos-ocl-can-lxrt-dev, liborocos-ocl-comedi-lxrt-dev,
      liborocos-ocl-axes-lxrt-dev
Description: Orocos Component Library  - All packages
 A super package for Orocos Component Library 
 .
 Development files.

Package: orocos-ocl-lxrt1.4
Section: libdevel
Architecture: any
Depends: liborocos-ocl-lxrt1.4 (= ${Source-Version}),
      liborocos-ocl-io-lxrt1.4, liborocos-ocl-can-lxrt1.4, liborocos-ocl-comedi-lxrt1.4,
      liborocos-ocl-axes-lxrt1.4
Description: Orocos Component Library  - All packages
 A super package for Orocos Component Library 
 .
 Libraries.


Package: liborocos-ocl-dev
Section: libdevel
Architecture: any
Depends: 
Description: Orocos Component Library 
 Orocos Component Library 
 .
 Header files.

Package: liborocos-ocl-lxrt-dev
Section: libdevel
Architecture: any
Depends: liborocos-ocl-lxrt1.4 (= ${Source-Version}), liborocos-rtt-lxrt-dev ( >= 1.4 )
Description: Orocos Component Library 
 Orocos Component Library 
 .
 Development files.

Package: liborocos-ocl-lxrt1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Orocos Component Library 
 This package contains the Reporting, TaskBrowser and Deployment
 components. The included deployer application can be used to
 load components into an application.
 .
 Library and tools.


Package: liborocos-ocl-io-lxrt-dev
Section: libdevel
Architecture: any
Depends: liborocos-ocl-io-lxrt1.4 (= ${Source-Version}), liborocos-ocl-lxrt-dev
Description: Orocos hardware IO Component 
 Development files.

Package: liborocos-ocl-io-lxrt1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Orocos hardware IO Component 
 Manages digital and analog IO.
 .
 Library and tools.


Package: liborocos-ocl-comedi-lxrt-dev
Section: libdevel
Architecture: any
Depends: liborocos-ocl-comedi-lxrt1.4 (= ${Source-Version}), liborocos-ocl-lxrt-dev, 
	 liborocos-ocl-io-lxrt-dev, libcomedi-dev
Description: Orocos Comedi drivers 
 Development files.

Package: liborocos-ocl-comedi-lxrt1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Orocos Comedi drivers 
 Maps the comedi devices to Orocos C++ interfaces.
 .
 Library and tools.


Package: liborocos-ocl-can-lxrt-dev
Section: libdevel
Architecture: any
Depends: liborocos-ocl-can-lxrt1.4 (= ${Source-Version}), liborocos-ocl-lxrt-dev, libpcan-dev
Description: Orocos CAN interfaces 
 Development files.

Package: liborocos-ocl-can-lxrt1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Orocos CAN interfaces 
 Offers C++ CAN interfaces to the Peak CAN Linux drivers.
 .
 Library and tools.

Package: liborocos-ocl-axes-lxrt-dev
Section: libdevel
Architecture: any
Depends: liborocos-ocl-axes-lxrt1.4 (= ${Source-Version}), liborocos-ocl-lxrt-dev
Description: Orocos component for axis control 
 Development files.

Package: liborocos-ocl-axes-lxrt1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Orocos component for axis control 
 An alternative to the naxes components for controlling N axes independently.
 .
 Library and tools.


Package: orocos-ocl-gnulinux-bin
Section: libdevel
Architecture: any
Depends: liborocos-ocl-gnulinux1.4 (= ${Source-Version})
Description: Orocos Component Library  - Binaries
 This package contains the ctaskbrowser and deployment applications.


Package: orocos-ocl-gnulinux-dev
Section: libdevel
Architecture: any
Depends: liborocos-ocl-gnulinux-dev,
	liborocos-ocl-io-gnulinux-dev, liborocos-ocl-can-gnulinux-dev, liborocos-ocl-comedi-gnulinux-dev,
	liborocos-ocl-axes-gnulinux-dev
Description: Orocos Component Library  - All packages
 A super package for Orocos Component Library 
 .
 Development files.

Package: orocos-ocl-gnulinux1.4
Section: libdevel
Architecture: any
Depends: liborocos-ocl-gnulinux1.4 (= ${Source-Version}),
	liborocos-ocl-io-gnulinux1.4, liborocos-ocl-can-gnulinux1.4, liborocos-ocl-comedi-gnulinux1.4,
	liborocos-ocl-axes-gnulinux1.4
Description: Orocos Component Library  - All packages
 A super package for Orocos Component Library 
 .
 Libraries.


Package: liborocos-ocl-gnulinux-dev
Section: libdevel
Architecture: any
Depends: liborocos-ocl-gnulinux1.4 (= ${Source-Version}), liborocos-rtt-gnulinux-dev ( >= 1.4 )
Description: Orocos Component Library 
 Orocos Component Library 
 .
 Development files.

Package: liborocos-ocl-gnulinux1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Orocos Component Library 
 This package contains the Reporting, TaskBrowser and Deployment
 components. The included deployer application can be used to
 load components into an application.
 .
 Library and tools.


Package: liborocos-ocl-io-gnulinux-dev
Section: libdevel
Architecture: any
Depends: liborocos-ocl-io-gnulinux1.4 (= ${Source-Version}), liborocos-ocl-gnulinux-dev
Description: Orocos hardware IO Component 
 Development files.

Package: liborocos-ocl-io-gnulinux1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Orocos hardware IO Component 
 Manages digital and analog IO.
 .
 Library and tools.


Package: liborocos-ocl-comedi-gnulinux-dev
Section: libdevel
Architecture: any
Depends: liborocos-ocl-comedi-gnulinux1.4 (= ${Source-Version}), liborocos-ocl-gnulinux-dev, 
	 liborocos-ocl-io-gnulinux-dev, libcomedi-dev
Description: Orocos Comedi drivers 
 Development files.

Package: liborocos-ocl-comedi-gnulinux1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Orocos Comedi drivers 
 Maps the comedi devices to Orocos C++ interfaces.
 .
 Library and tools.


Package: liborocos-ocl-can-gnulinux-dev
Section: libdevel
Architecture: any
Depends: liborocos-ocl-can-gnulinux1.4 (= ${Source-Version}), liborocos-ocl-gnulinux-dev, libpcan-dev
Description: Orocos CAN interfaces 
 Development files.

Package: liborocos-ocl-can-gnulinux1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Orocos CAN interfaces 
 Offers C++ CAN interfaces to the Peak CAN Linux drivers.
 .
 Library and tools.


Package: liborocos-ocl-axes-gnulinux-dev
Section: libdevel
Architecture: any
Depends: liborocos-ocl-axes-gnulinux1.4 (= ${Source-Version}), liborocos-ocl-gnulinux-dev
Description: Orocos component for axis control 
 Development files.

Package: liborocos-ocl-axes-gnulinux1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Orocos component for axis control 
 An alternative to the naxes components for controlling N axes independently.
 .
 Library and tools.

